<nav>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/Notifica - Logo - Kleur.bmp" alt="Notifica">
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/over-ons/">Over ons</a>
            <div class="nav-dropdown">
                <a href="#" class="nav-dropdown-toggle">
                    Bedrijfssoftware
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
                        <path d="M2 4l4 4 4-4H2z"/>
                    </svg>
                </a>
                <div class="nav-dropdown-menu">
                    <a href="/bedrijfssoftware/">ERP Koppelingen</a>
                    <a href="/bedrijfssoftware/syntess-atrium/">Syntess Atrium</a>
                    <a href="/bedrijfssoftware/4ps/">4PS</a>
                    <a href="/bedrijfssoftware/acto/">ACTO</a>
                    <a href="/bedrijfssoftware/admicom/">Admicom</a>
                    <a href="/bedrijfssoftware/enk-software/">ENK Software</a>
                    <a href="/bedrijfssoftware/bouwinfosys/">BouwInfosys</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <a href="#" class="nav-dropdown-toggle">
                    Inspiratie
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
                        <path d="M2 4l4 4 4-4H2z"/>
                    </svg>
                </a>
                <div class="nav-dropdown-menu">
                    <a href="/inspiratie/blogs/">Blogs</a>
                    <a href="/inspiratie/whitepapers/">Whitepapers</a>
                    <a href="/inspiratie/videos/">Video's</a>
                </div>
            </div>
            <a href="/klanten-ervaringen/">Klanten</a>
            <a href="/veelgestelde-vragen/">FAQ</a>
            <a href="#contact" class="btn">Contact</a>
        </div>
    </div>
</nav>
