<nav>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/Notifica - Icon - Kleur.svg" alt="Notifica">
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/over-ons/">Over ons</a>
            <a href="/veelgestelde-vragen/">Veelgestelde vragen</a>
            <a href="#contact" class="btn">Contact</a>
        </div>
    </div>
</nav>
