---
layout: base-notion.njk
---

{% block content %}
<article class="blog-content">
  <div class="container" style="max-width: 800px; padding: 100px 40px 80px;">
    {{ content | safe }}
  </div>
</article>
{% endblock %}
