---
layout: null
permalink: /december-actie/
---
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url={{ '/campaigns/december-2025-webinar/' | url }}">
    <link rel="canonical" href="{{ '/campaigns/december-2025-webinar/' | url }}">
    <title>Redirect</title>
</head>
<body>
    <p>Je wordt doorgestuurd naar <a href="{{ '/campaigns/december-2025-webinar/' | url }}">de nieuwe pagina</a>.</p>
</body>
</html>
