---
permalink: /inspiratie/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url=/inspiratie/videos/">
  <link rel="canonical" href="/inspiratie/videos/">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/inspiratie/videos/">Video's</a>...</p>
</body>
</html>
